.partnersContainer{
    width: 100%;
    background-color: var(--thirdColor);
    display: flex;
    justify-content: space-around;
}
.partnerLogo{
    aspect-ratio: 1/1;
    width: 10vw;
}
.partnerLogo:hover{
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .partnersContainer{
        flex-direction: column;
        align-items: center;
    }
    .partnerLogo{
        aspect-ratio: 1/1;
        width: 20vw;
    }
}