html{
  height: 3000px;
}
nav{
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 1;
  padding: 5px;
  top: 0px;
  height: 93px;
  width: 100%;
  z-index: 999;
  justify-content: space-around;
  background: var(--thirdColor);
}
nav a{
  text-decoration: none;
}
nav h2{
  color: var(--secondaryColor);
  transition: all .2s ease;
  font-weight: 600;
  font-size: 1.3em;
}
nav h2:hover{
  color: var(--primaryColor);
}
.logoContainer{
  width: 25% !important;
}
.logoImage{
  aspect-ratio: 1/1;
  width: 90px;
}
.navLinks{
  display: flex;
  justify-content: space-evenly;
  width: 60% !important;
}
.menuButton{
  color: var(--secondaryColor);
  padding: 0%;
  transform: scale(1.8);
  transition: all .3s ease;
  display: none !important;
}
.menuButton:hover{
  cursor: pointer;
  color: var(--primaryColor);
}
.navLinks .active h2{
  color: var(--primaryColor) !important;
}

@media only screen and (max-width: 1100px) {
  .navLinks > *{
    display: none;
    width: 40% !important;
  }
  .menuButton{
  display: inline-block !important;
  }
}