html{
  margin: 0px;
}
nav{
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 1;
  padding: 5px;
  top: 0px;
  height: 93px;
  width: 100%;
  z-index: 100000000;
  justify-content: space-around;
  background: var(--thirdColor);
}
nav a{
  text-decoration: none;
}
nav h2{
  color: var(--secondaryColor);
  transition: all .2s ease;
  font-weight: 600;
  font-size: 1.3em;
}
nav h2:hover{
  color: var(--primaryColor);
}
.logoContainer{
  width: 25% !important;
}
.logoImage{
  aspect-ratio: 1/1;
  width: 90px;
}
.navLinks{
  display: flex;
  justify-content: space-evenly;
  width: 60% !important;
}
.menuButton{
  color: var(--secondaryColor);
  padding: 0%;
  transform: scale(1.8);
  transition: all .3s ease;
  display: none !important;
}
.menuButton:hover{
  cursor: pointer;
  color: var(--primaryColor);
}
.navLinks .active h2{
  color: var(--primaryColor) !important;
}
.sectionHeading{
  position: relative;
  color: var(--thirdColor);
  mix-blend-mode: difference;
  margin: 0%;
  font-size: 1.5em;
}
.sectionHeading::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor); 
  clip-path: polygon(22% 11%, 75% 14%, 63% 41%, 74% 77%, 29% 100%, 0 39%);
  z-index: -1;
}
.smallBanner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 40dvh;
  background-size: cover;
  object-fit: cover;
  background-position: 15% 15%;
  h1{
    z-index: 1000;
    color: var(--secondaryColor);
    text-align: center;
  }
}
.smallBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; 
}
@media only screen and (max-width: 1100px) {
  .navLinks > *{
    display: none;
    width: 40% !important;
  }
  .menuButton{
  display: inline-block !important;
  }
}