@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
*{
  font-family: "Geologica", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  margin: 0px;
  height: 100vh;
  padding: 0%;

}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondColor);
}

::-webkit-scrollbar-thumb {
  background: var(--fourthColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fourthColor);
  cursor: pointer;
}